<p>add a new car</p>

<form action="/cars" method="POST">
  <p>make: <input type="text" name="make"></p>
  <p>model: <input type="text" name="model"></p>
  <p>year: <input type="text" name="year"></p>
  <p>color: <input type="text" name="color"></p>

  <input type="submit" value="add a new car">

</form>